.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto controls and outputs
/.quarto/
/.luarc.json
/_*.local
*_cache
*_files

# quarto output- will need to make visible to produce docs
_output
/none/

# Demonstration data outputs
scenario_example/
more_scenarios/
*.png

scenario_creation/test_scaling.rdata

# Don't git the html output and css junk with gh-pages
*.html
site_libs/
