.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

/.luarc.json

# Likely will need to do something different here once we want to see the HTML
_output

scenario_example/

/_*.local
*_cache
*_files

